body {
  background-color: #424951;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px 1fr 80px;
      grid-template-rows: 80px 1fr 80px;
}

.navbar {
  min-height: 30px;
  position: fixed;
}

.navbar .navbar-brand {
  padding-top: 3px;
  padding-bottom: 3px;
  height: 60px;
  line-height: 60px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.navbar #thermometer {
  font-size: 43px;
  font-weight: 600;
}

.navbar #barometer {
  font-size: 30px;
  font-weight: 800;
}

#weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather-container .row {
  margin-right: 0px;
  margin-left: 0px;
}

#weather-container .jumbotron {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

#weather-container #loading-jumbo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather-container #loading-jumbo #loading-message {
  display: inline-block;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

@media (max-width: 325px) {
  #weather-container #loading-jumbo #loading-message {
    font-size: 20px;
  }
}

#weather-container #loading-jumbo #loading-message p {
  margin: 0;
  display: inline;
}

#weather-container #weather-jumbo {
  display: none;
}

#weather-container #city {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

#weather-container #top-details #weather-icon {
  font-size: 80px;
}

@media (max-width: 325px) {
  #weather-container #top-details #weather-icon {
    font-size: 60px;
  }
}

#weather-container #top-details #temp-row #temp {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

@media (max-width: 325px) {
  #weather-container #top-details #temp-row #temp {
    font-size: 35px;
  }
}

#weather-container #top-details #temp-row .degree {
  font-size: 35px;
}

@media (max-width: 325px) {
  #weather-container #top-details #temp-row .degree {
    font-size: 32px;
  }
}

#weather-container #description {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 23px;
}

#weather-container #bottom-details {
  visibility: hidden;
}

#weather-container #bottom-details .detail-col {
  margin: 0 15px 0 15px;
}

@media (max-width: 325px) {
  #weather-container #bottom-details .detail-col {
    margin: 0 10px 0 10px;
  }
}

#weather-container #bottom-details .detail-icons {
  font-size: 27px;
}

@media (max-width: 325px) {
  #weather-container #bottom-details .detail-icons {
    font-size: 18px;
  }
}

#weather-container #bottom-details .detail-font {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

@media (max-width: 325px) {
  #weather-container #bottom-details .detail-font {
    font-size: 15px;
  }
}

#weather-container .btn {
  width: 100px;
  background-color: #343a40;
  color: white;
  visibility: hidden;
}

.caps {
  text-transform: capitalize;
}

#byKevin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.spinner {
  margin: 0;
  text-align: left;
  display: inline-block;
}

.spinner > div {
  width: 7px;
  height: 7px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

@media (max-width: 325px) {
  .spinner > div {
    width: 5px;
    height: 5px;
  }
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */